<h1>Listing page_comments</h1>

<table>
  <thead>
    <tr>
      <th>Requst uri</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_comments.each do |page_comment| %>
      <tr>
        <td><%= page_comment.requst_uri %></td>
        <td><%= page_comment.content %></td>
        <td><%= link_to 'Show', page_comment %></td>
        <td><%= link_to 'Edit', edit_page_comment_path(page_comment) %></td>
        <td><%= link_to 'Destroy', page_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page comment', new_page_comment_path %>
